* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Times New Roman', Times, serif;
	color: #eee;
	background-color: black;
}

/* LAYOUT */
header {
	position: relative;
	height: 35vh;
	border-bottom: 12px double orangered;
}

main {
	height: 65vh;
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.left {
	width: 52rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right {
	width: 52rem;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ELEMENTS STYLE */
h1 {
	font-size: 4rem;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: crimson;
}

.number {
	background: blue;
	color: magenta;
	font-size: 6rem;
	width: 15rem;
	padding: 3rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}

.between {
	font-size: 3.4rem;
	position: absolute;
	top: 3rem;
	right: 6rem;
	color: aqua;
}

.again {
	position: absolute;
	top: 3rem;
	left: 6rem;
}

.guess {
	background: none;
	border: 4px solid darkviolet;
	border-radius: 2rem;
	font-family: inherit;
	color: rgb(12, 255, 4);
	font-size: 5rem;
	padding: 2.5rem;
	width: 25rem;
	text-align: center;
	display: block;
	margin-bottom: 3rem;
}

.btn {
	border: none;
	background-color: rgb(3, 255, 66);
	color: rgb(0, 0, 0);
	font-size: 2rem;
	font-family: inherit;
	padding: 2rem 3rem;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(253, 216, 4);
}

.message {
	margin-bottom: 4rem;
	height: 3rem;
	color: aqua;
	font-size: 3rem;
}

.label-score {
	margin-bottom: 2rem;
	align-self: flex-start;
	color: aqua;
	padding-left: 32%;
}

.score {
	color: yellow;
}

.highscore {
	color: red;
}

.label-highscore {
	color: aqua;
	align-self: flex-start;
	padding-left: 32%;
}
